.container {
    width: 100%vw;
    display: inherit;
    padding: 5vw;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    border-color: #D9D9D9;
    border-style: dashed;
    border-width: 8px;
.home-container {
  width: 70vw;
  height: 1400px;
  display: inherit;
  padding: 3vw;
  overflow: auto;
  min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-column {
    width: 50vw;
    height: 60vw;
  }
  .home-col-spacing {
    width: auto;
    height: 15vw;
  }
  .home-column1 {
    width: 50vw;
    height: 60vw;
  }
  .home-col-spacing1 {
    width: auto;
    height: 15vw;
  }
  .home-column2 {
    width: 50vw;
    height: 60vw;
  }
}
