/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 50px; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(142,153,177,.2) ;
  border-radius: 5vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(142,153,177,.5) ;
  border-radius: 5vw;
}

.home-container {
  width: 70vw;
  height: 90vh;
  display: inherit;
  padding: 3vw;
  overflow: scroll;
  overflow-x: hidden;
  min-height: 90vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-left:auto;
  margin-right:auto;
}
.home-header {
  width: auto;
  height: 12vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image {
  width: 100%;
  object-fit: cover;
  font-family: Blanka
}
.home-body-spacing {
  flex: 0 0 auto;
  width: 100%;
  height: 5vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-row {
  flex: 0 0 auto;
  width: auto;
  height: 30vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-column {
  flex: 0 0 auto;
  width: 20vw;
  height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image1 {
  width: 100%;
  object-fit: cover;
  display: flex;   
  justify-content: center;
  text-align:center
}
.home-col-spacing {
  flex: 0 0 auto;
  width: 5vw;
  height: 35vw;
  display: flex;
  align-items: flex-start;
}
.home-column1 {
  flex: 0 0 auto;
  width: 20vw;
  height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image2 {
  width: 100%;
  object-fit: cover;
}
.home-col-spacing1 {
  flex: 0 0 auto;
  width: 5vw;
  height: 35vw;
  display: flex;
  align-items: flex-start;
}
.home-column2 {
  flex: 0 0 auto;
  width: 20vw;
  height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image3 {
  width: 100%;
  object-fit: cover;
}
body {
  background: linear-gradient(20deg, rgba(26,28,32,1) 0%, rgba(48,53,63,1) 60%, rgba(69,79,100,1) 100%);
  font-family: Blanka;
  height: auto;
  overflow-y:hidden;
}
@media only screen and (max-width: 991px) {
  .home-body-spacing {
    height: 8vw;
  }
  .home-row {
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-column {
    width: 50vw;
    height: 60vw;
  }
  .home-col-spacing {
    width: auto;
    height: 15vw;
  }
  .home-column1 {
    width: 50vw;
    height: 60vw;
  }
  .home-col-spacing1 {
    width: auto;
    height: 15vw;
  }
  .home-column2 {
    width: 50vw;
    height: 60vw;
  }
}
