@keyframes columnEntry {
    0% {
        opacity: 0;
        stroke-opacity: 0;
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        stroke-opacity: 1;
    }
  }

#Header {
    animation: .2s ease 0s 1 columnEntry;
}

#CodeBoardContainer, #SFXBoardContainer, #ArtBoardContainer{
    animation: .6s ease 0s 1 columnEntry;
    transition: .15s ease-in;
    display: block;
    margin: auto;
}

#CodeBoardContainer, #SFXBoardContainer, #ArtBoardContainer{
    transform: translateY(0%);
    fill-opacity: 1;
    stroke-opacity: 1;
}

#CodeBoardContainer:hover, #SFXBoardContainer:hover, #ArtBoardContainer:hover{
    transform: translateY(-8%);
}

#CodeBoardContainer:active {
    transform: translateX(-100%);
}