@keyframes columnEntry {
    0% {
        opacity: 0;
        stroke-opacity: 0;
        transform: translateY(-30%) translateX(-50%) scale(2);
    }
    100% {
        transform: translateY(-50%) translateX(-50%) scale(2);
        opacity: 1;
        stroke-opacity: 1;
    }
  }
  @keyframes columnEntryHeader {
    0% {
        opacity: 0;
        stroke-opacity: 0;
        transform: translateY(30%);
    }
    100% {
        transform: translateY(0%) ;
        opacity: 1;
        stroke-opacity: 1;
    }
  }



#Header {
    animation: .5s ease 0s 1 columnEntryHeader;
}

#CodeBoardContainer, #SFXBoardContainer, #ArtBoardContainer{
    animation: .6s ease 0s 1 columnEntry;
    transition: .15s ease-in;
    display: block;
    margin: auto;
}

#CodeBoardContainer, #SFXBoardContainer, #ArtBoardContainer{
    transform: translateY(-50%) translateX(-50%) scale(2) ;
    fill-opacity: 1;
    stroke-opacity: 1;
}

#CodeBoardContainer:hover, #SFXBoardContainer:hover, #ArtBoardContainer:hover{
    transform: translateY(-59%) translateX(-50%) scale(2);
}

#ArtBoardContainer:active #ArtBody{
    transform: translateY(3%);
}

#SFXBoardContainer:active #SFXBody{
    transform: translateY(3%);
}

#CodeBoardContainer:active #CodeBody{
    transform: translateY(3%);
}